.vscode
**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
datasets/* 
!datasets/*.sh
models/*
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
build/
_build/
**/build/
outputs/
log.txt
examples/
hyperopt/
*.ckpt
datasets/SentimentAnalysis

data
poison_data
test.sh
.idea
*/.idea

.DS_Store
*/.DS_Store
开发日记.md
openbackdoor/attackers/poisoners/bible
#english-left3words-distsim.tagger
#stanford-postagger.jar
test.py
test_visualize.py
test_config.json